.oc__image__gallery__dialog {
  height: 100%;
  width: 100%;
}

.oc__image__gallery__dialog__closebutton {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 100px;
  width: 100px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  transition: background-color 0.3s ease;
}