:root {
  --background: #ffffff;
  --foreground: #171717;
  --oc-sem-text: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

[popover] {
  width: 100%;
  margin: auto;
  background-color: transparent;
  padding: 5rem;
  border: none;
}

[popover]::backdrop {
  background-color: rgba(0, 0, 0, 0.722);
}

/*   IS-OPEN STATE   */
[popover]:popover-open {
  translate: 0 0;
}

/*   EXIT STATE   */
[popover] {
  transition:
    translate 0.2s ease-out,
    display 0.2s ease-out allow-discrete,
    overlay 0.2s ease-out allow-discrete;
  translate: 0 0;
}

@media screen and (max-width: 768px) {
  [popover] {
    padding: 3rem;
  }
}
