.page h2 {
  text-align: center;
  color: var(--oc-sem-text);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
  text-transform: uppercase;
  font-size: calc(7vw);
}

.page a {
  position: relative;
  text-align: center;
  color: var(--oc-sem-text);
  font-size: calc(2vw);
}

.page__header__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 80vw;
}

.page__header__container__element {
  flex: 1;
  display: flex;
}

.page__header__container__element:first-child > div {
  margin-right: auto;
}

.page__header__container__element:last-child > div {
  margin-left: auto;
}

@media (max-width: 600px) {
  .page__header__container {
    position: fixed;
    width: 100%;
    padding: var(--spacer-m) var(--spacer-l);
    z-index: 100;

    background-color: var(--background);
  }

  .page a {
    font-size: calc(3vw);
  }
}
